# EditorConfig is awesome: https://EditorConfig.org
# Consistent coding styles across editors and IDEs

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false  # Markdown uses trailing spaces for line breaks

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Makefile
[Makefile]
indent_style = tab

# Rust files
[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

# TOML files (Cargo.toml, etc.)
[*.toml]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

# JavaScript/TypeScript files
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# CSS/SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# SQL files
[*.sql]
indent_style = space
indent_size = 2

# Protobuf files
[*.proto]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 2

# Package files
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2

[requirements.txt]
indent_style = space
indent_size = 2

[go.mod]
indent_style = tab

[Cargo.toml]
indent_style = space
indent_size = 2
